.footer {
  background-color: var(--primary-light);
  color: var(--dark-grey);
  padding: 40px 0 5px;
  font-size: 0.9rem;
}
.footer a {
  color: var(--accent-dark);
}
.footer h4 {
  color: var(--accent-dark);
}

.catOnline {
  font-size: 1rem;
  margin: 40px 0 0;
}

.catOnline span {
  display: block;
}

.catOnline a {
  display: inline-block;
  width: 50%;
  padding: 5px 10px;
  border-radius: 2px;
}

.contact {
  margin: var(--element-margin-top) 0 0 0;
}

.social {
  margin: var(--element-margin-top) 0 0 0;
}

.social a {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.social a span {
  margin-left: 5px;
}

.email {
  margin-top: 5px;
}
.copy {
  margin: var(--element-margin-top) 0 0 0;
}

.copy span {
  display: block;
  font-size: 0.9rem;
}

.privacy {
  font-size: 0.9rem;
  margin: var(--element-margin-top) 0 0 0;
}

.privacy a {
  margin-left: 5px;
}

.privacy a {
  color: var(--accent-dark);
}

@media (min-width: 768px) {
  .catOnline {
    width: 400px;
  }
}

@media (min-width: 1024px) {
  .copy span {
    display: inline-block;
    font-size: 0.9rem;
    margin-right: 10px;
  }
}
