.footer {
  background-color: var(--primary-dark);
  color: var(--primary-light);
  padding-bottom: 10px;
}

.contact {
  padding: 20px 0;
}

.tel,
.email {
  margin: 10px 0;
}

.copy {
  font-size: 0.9rem;
  margin-top: 5px;
  display: block;
}

.privacy {
  display: inline-block;
  border-radius: 5px;
  color: var(--primary-dark);
  margin: 20px 0;
  padding: 3px 5px;
  background-color: var(--primary-light);
}
