.footer {
  background-color: var(--accent-dark);
  color: var(--primary-light);
  padding: 40px 0 0;
}

.footer a {
  color: var(--primary-light);
}

.catOnline {
  font-size: 1rem;
  margin: var(--element-margin-top) 0 0;
}

.catOnline span {
  display: block;
}
.catOnline a {
  display: inline-block;
  width: 50%;
  background: white;
  padding: 5px 10px;
  border-radius: 2px;
}
.contact {
  padding: 20px 0;
}

.tel,
.email {
  margin: 10px 0;
}

.copy {
  font-size: 0.9rem;
  display: block;
  margin-top: var(--element-margin-top);
}

.privacy {
  display: inline-block;
  border-radius: 5px;
  margin: 20px 0;
  padding: 3px 5px;
  background-color: var(--primary-light);
}

.privacy a {
  color: var(--primary-dark);
}
