.header {
  background: white;
}

.headerInfo {
  width: 95%;
  margin: 0 auto;
}

.skew {
  display: none;
}

.headerInfo h1 {
  line-height: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

.headerInfo h1 span {
  letter-spacing: 0.01ch;
  display: block;
}

.headerInfo h1 span:nth-of-type(2) {
  color: var(--accent-dark);
}

.headerImg {
  margin-top: 20px;
  position: relative;
  height: 200px;
  overflow: hidden;
}

.headerImg img {
  object-fit: cover;
}

.headerButtons {
  display: flex;
  justify-content: space-between;
  margin-top: var(--element-margin-top);
}

.headerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49%;
  text-align: center;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  padding: 15px 0;
  font-weight: bold;
}

.emailButton {
  border-color: var(--accent-dark);
  color: var(--accent-dark);
}

.callButton {
  background-color: var(--taxi-yellow);
  border-color: var(--taxi-yellow);
  color: var(--primary-dark);
}

.headerButton span {
  display: flex;
  justify-items: baseline;
  margin: 0 2px 0 10px;
}

@media (min-width: 768px) {
  .headerInfo {
    text-align: center;
  }

  .headerImg {
    margin-top: 50px;
    height: 400px;
  }

  .headerButtons {
    width: 70%;
    margin: var(--element-margin-top) auto;
  }
}

@media (min-width: 1024px) {
  .header {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .headerInfo {
    width: 60%;
    padding-left: 5%;
    text-align: left;
  }

  .headerImg {
    margin: 0;
    width: 40%;
    height: 500px;
  }

  .skew {
    display: block;
    position: absolute;
    top: 0;
    left: -70px;
    z-index: 10;
    background-color: white;
    height: 100%;
    width: 140px;
    transform: skewX(-12deg);
  }

  .headerButtons {
    width: 70%;
    margin-left: 0;
  }

  .headerInfo p {
    width: 80%;
    margin: 20px 0;
  }

  .headerInfo h1 span {
    display: block;
  }
}

@media (min-width: 1025px) {
  .headerInfo {
    width: 50%;
  }

  .headerImg {
    width: 50%;
  }

  .headerInfo h1 {
    margin-top: 30px;
    font-size: 3.5rem;
  }

  .headerInfo p {
    width: 90%;
  }

  .headerButtons {
    width: 70%;
    margin: 50px 0;
  }

  .headerInfo h1 span:nth-of-type(2) {
    margin: 0;
  }

  .headerButton {
    transition: all 0.2s;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .callButton:hover,
  .emailButton:hover {
    transform: scale(1.05);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }

  .emailButton:hover {
    color: white;
    background-color: var(--accent-dark);
  }
  .callButton {
    margin: 0 0 0 20px;
  }
}
