.banner {
  margin: 0;
  padding: 10px 0;
  width: 100%;
  background-color: steelblue;
  color: white;
}
.flexRow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconContainer {
  margin-right: 20px;
  padding: 0;
}
.info {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}

.info a {
  color: rgb(252, 252, 102);
}
