/*--------------------
ABOUT
----------------------*/

.about {
  padding: var(--section-padding) 0;
}

/*--------------------
SAFETAXI
----------------------*/

.safeTaxi {
  background-color: var(--accent-dark);
  color: white;
}

.safeTaxi h2,
.safeTaxi h3 {
  color: var(--taxi-yellow);
}

.safeTaxi a {
  color: var(--accent-light);
}

.extras h3:nth-last-of-type(1) {
  margin-top: var(--element-margin-top);
}
/* -----------------------
CURRENT OFFERS
-------------------------*/

.currentOffers {
  background: var(--primary-light);
  color: #444;
  padding: var(--section-padding) 0;
}

.currentOffers .img {
  position: relative;
  height: 160px;
  margin: var(--element-margin-top) 0 0;
  max-width: 100%;
  width: 100%;
}

.currentOffers .img img {
  object-fit: cover;
}

.currentOffers h2 {
  color: var(--accent-dark);
}
.offerDetails {
  padding: 10px;
}
.currentOffers h3 {
  margin: 0;
  color: var(--accent-dark);
}

.currentOffers p {
  margin: 5px 0 0 0;
}

.conditions {
  margin: var(--element-margin-top) 0 0 0;
}
.currentOffers .conditions p {
  font-size: 0.9rem;
}

.offer1,
.offer2 {
  background-color: #ddd;
  margin: 10px 0 0 0;
  font-size: 0.9rem;
}

.pictureRow .text {
  width: 95%;
  margin: 0 auto;
  padding: 20px 0;
}

/*--------------------
AIRPORT TRANSFERS
----------------------*/

.airportTransfers,
.safeTaxi,
.greatService,
.extras {
  padding: 0 0 var(--section-padding);
}

@media (min-width: 400px) {
  .currentOffers .img {
    height: 200px;
  }
}
@media (min-width: 768px) {
  /*------------------------
  STATION TRANSFERS
  --------------------------*/

  .stationTransfers {
    padding-top: 50px;
  }
  /*------------------------
  CURRENT OFFERS
  --------------------------*/

  .currentOffers .img {
    height: 300px;
  }

  .offerDetails {
    padding: 30px 10px;
  }
  /*--------------------------
  AIRPORT TRANSFERS
  ---------------------------*/

  .pictureRow .text {
    padding: 30px 0;
  }
}

@media (min-width: 1024px) {
  .airportTransfers,
  .safeTaxi,
  .greatService {
    padding-top: var(--section-padding);
  }
  /* -------------------
  ABOUT STYLES
  ----------------------*/

  .about {
    padding-top: 40px;
  }

  .about .layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .about h2 {
    display: inline-block;
  }

  .aboutText {
    display: inline-block;
    width: 50%;
  }

  /*------------------------
  CURRENT OFFERS
  --------------------------*/

  .offer1,
  .offer2 {
    display: flex;
  }

  .offer1 .img,
  .offer2 .img {
    width: 50%;
  }

  .currentOffers .img {
    height: 200px;
  }

  .offerDetails {
    width: 50%;
  }

  .offer1 h3,
  .offer2 h3 {
    padding: 0 0 0 30px;
  }

  .offer1 p,
  .offer2 p {
    padding: 0 0 0 30px;
    font-size: 1rem;
  }

  .pictureRow {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto;
  }

  .pictureRow .picture {
    width: 50%;
    height: 400px;
  }

  .pictureRow .text {
    padding: 40px 0 40px 40px;
    width: 50%;
  }

  .pictureRow .reverse {
    order: -1;
    padding: 40px 40px 40px 0;
  }
  /*--------------------------
  SAFETAXI TRANSFERS
  ---------------------------*/

  .extras {
    display: flex;
    margin: var(--element-margin-top) 0 0;
  }

  .extras div {
    width: 30%;
    margin-right: 5%;
  }
}

/*--------------------------
  AIRPORT TRANSFERS
  ---------------------------*/

@media (min-width: 1150px) {
  /*------------------------
  CURRENT OFFERS
  --------------------------*/
  .offer1,
  .offer2 {
    display: inline-block;
    width: 45%;
    flex-direction: column;
    background-color: #eee;
  }

  .offer1 {
    margin: 0 10% 0 0;
  }

  .currentOffers .img {
    width: 100%;
    height: 250px;
  }

  .offerDetails {
    width: 100%;
  }
  .offer1 h3,
  .offer2 h3 {
    padding: 0;
  }

  .offer1 p,
  .offer2 p {
    padding: 0;
    width: 100%;
    margin: 0;
  }
}
