.perks {
  margin: 40px auto 0;
}

@media (min-width: 768px) {
  .perks {
    padding: 0;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .perks {
    display: inline-block;
    width: 50%;
  }
}
