.perks {
  margin: 40px auto 0;
}

@media (min-width: 768px) {
  .perks {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .perks {
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
  }
}
