.hero {
  margin-top: 5rem;
  padding: 0;
  height: 200px;
  overflow: hidden;
}

.hero img {
  width: 100%;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .hero {
    margin-top: 6rem;
    height: 400px;
  }
}
